

.body-initial {background-color: rgba(255,255,255,1); position: static;}.silex-id-1474394621033-3 {position: static; margin-top: -1px;}.silex-id-1474394621032-2 {background-color: transparent; min-height: 533.8715209960938px; position: relative; margin-left: auto; margin-right: auto;}.silex-id-1618249352399-0 {width: 735.90625px; min-height: 308.9201431274414px; position: absolute; top: 28px; left: 309px;}@media only screen and (max-width: 480px) {}
.text-element > .silex-element-content {font-family: 'Roboto', sans-serif;}
.website-width {width: 1200px;}@media (min-width: 481px) {.silex-editor {min-width: 1400px;}}body.silex-runtime {opacity: 1;}
